# Secrets and keys
key.json
*.pem
*.key

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environment
venv/
env/

# IDE
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Local .env files
.env
.env.*
